*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Universal styles */

* {
  font-family: 'Bitter', serif;
  color: #001524;
}

.h1 {

}

.h2 {

}

.h3 {

}

.h4 {

}

.p {
  
}

/* NAV section */

.nav {
  height: 5vh;
  background-color: blue;
}

.top-nav {

}

.user-icon {

}

.profile-link {

}

.nav-arrow {

}

.bottom-nav {

}

.bottom-nav-left {

}

.nav-software {

}

.nav-software-icon {

}

.nav-resume {

}

.nav-resume-icon {

}

.nav-videos {

}

.nav-videos-icon {

}

.bottom-nav-right {
  
}

.site-title {

}

.site-logo {
  
}

/* MAIN styles */

.main {

}

.main-header{

}

.main-top{

}

.tile {

}

.tile-header {

}

.tile-share-icon {
  z-index: 2;
}

.tile-header-img {
  height:18vh;
  z-index: 1;
}

.views {
  z-index: 2;
}

.view-count {
  z-index: 2;
}

.video-details-section {

}

.video-title {

}

.date-uploaded {

}

.description-section {

}

.description-header {

}
.description {

}

.show-more {

}