*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Universal styles */

* {
  font-family: 'Bitter', serif;
  color: #001524;
}

h1 {
  color: #FF7D00;
  font-size: 4vh;
  font-weight: 200;
  margin-right: 15px;
}

h2 {
  color: #FFECD1;
  font-size: 2vh;
  font-weight: 400;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 400;
}

/* NAV section */

.nav {
  height: 15vh;
  display: flex;
  flex-direction: column;
  background-color: #001524;
}

.top-nav {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-section {
  display: flex;
  align-items: center;
}

.empty-top-nav {
  width: 10vw;
}

.user-icon {
  height: 3vh;
  color: #15616d;
}

.profile-link {
  color: #15616d;
  padding-left: 10px;
}

.nav-arrow {
  height: 1.8vh;
  color: #15616d;
  padding-right: 18px;
  padding-left: 12px;
}

.bottom-nav {
  height: 10vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.bottom-nav-left {
  width: 545px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.selected-section-title {
  color: #FF7D00;
  font-weight: 600;
}

.nav-titles {
  display: flex;
  align-items: center;
}

.nav-icon {
  height: 40px;
  color: #15616d;
  padding-right: 12px;
}

.bottom-nav-right {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.site-title {
  display: flex;
  align-items: center
}

.site-logo {
  height: 6vh;
  margin-right: 20px;
}

/* MAIN styles */

.main {
  height: 130vh;
  background-color: #FFECD1;
}

.main-header {
  height: 12vh;
  background-color: #FFECD1;
  display: flex;
  align-items: center;
}

.main-header-selected-section-title {
  font-size: 4.5vh;
  color: #001524;
  margin-left: 24px;
}

.main-sections {
  height: 452px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 7px;
}

.tile {
  height: 452px;
  width: 23.8vw;
  border-width: 1px;
  border-style: solid;
  border-color: #a5a5a5;
  background-color: #FFFBF5;
  box-shadow: 5px 5px 5px #00000050;
}

.tile:hover{
  outline-style: solid;
  outline-color: #34f6f385;
  outline-width: 3px;
  outline-offset: -1px;
}

.tile-header {
  height: 17vh;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  background-position: center;
}

#cryptic {
  background-image: url(./assets/cryptic.png);
}

#glacier {
  background-image: url(./assets/glacier.png);
}

#trestle {
  background-image: url(./assets/trestle.png);
}

#snowmass {
  background-image: url(./assets/snowmass.png);
}

#whistler {
  background-image: url(./assets/whistler.png);
}

#valhalla {
  background-image: url(./assets/valhalla.png);
}

#lefthand {
  background-image: url(./assets/lefthand.png);
}

#flagstaff {
  background-image: url(./assets/flagstaff.png);
}

.tile-share-icon {
  height: 47px;
  position: relative;
  top: 4px;
  left: 5px;
}

.tile-header-img {
  width: 23.88vw;
  position: relative;
  top: -39px;
}

.view-section {
  width: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
  margin-top: 10px;
}

.views {
  color: #34F6F2;
  background-color: #001524ad;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 4px;
  fill-opacity: 75%;
  font-size: 16px;
}

.view-count {
  color: #34F6F2;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 5px 5px 5px #000000, 0px 0px 5px #000000;
}

.video-details-section {
  height: 7vh;
  margin-left: 12px;
  margin-top: 12px;
}

.video-title {
  width: 22vw;
}

.date-uploaded {
  color: #a5a5a5;
  margin-top: 2px;
}

.description-section {
  width: 22vw;
  max-height: 189px;
  margin-left: 12px;
  margin-top: 17px;
  overflow: scroll;
}

.description-header {
  color: #a5a5a5;
}

/* Mobile Breakpoint */

@media only screen and (max-width: 660px) {
  h1 {
    font-size: 4.5vw;
    margin-right: 1vw;
  }

  h2 {
    font-size: 3vw;
  }

  .nav {
    height: 8vh;
  }

  .top-nav {
    height: 2.5vh;
  }

  .user-icon {
    display: none;
  }

  .profile-link {
    font-size: 12px;
  }

  .bottom-nav {
    height: 5vh;
  }

  .bottom-nav-left {
    width: 50vw;
  }

  .bottom-nav-right {
    width: 50vw;
  }

  .site-logo {
    height: 6vw;
    margin-right: 6px;
  }

  .nav-arrow {
    height: 1.5vh;
  }

  .nav-icon {
    display: none;
  }

  .main {
    height: fit-content;
    padding-bottom: 30vh;
  }

  .main-header {
    height: 4vh;
  }

  .main-header-selected-section-title {
    font-size: 3vh;
    margin-top: 2vh;
  }

  .main-sections {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .video-details-section {
    height: fit-content;
  }

  .tile {
    width: 90vw;
    height: 43vh;
    margin-top: 2vh;
  }

  .video-title {
    width: 73vw;
  }

  .description-section {
    width: 83vw;
    overflow: scroll;
    max-height: 130px;
  }

  .view-section {
    margin-right: 2.5rem;
  }
}